<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\project.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrustivetiveValidationMode" value="None"></add>
    <add key="SqlConnectionString" value= "Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='C:\Users\Ahmad\Documents\Visual Studio 2015\Visual Studio 2015\WebSites\PARKON\App_Data\project.mdf';Integrated Security=True;"/>
 
  </appSettings>
     <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  
  
  <system.web>
      <sessionState timeout="900" />
  </system.web>
  
<system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
  </system.webServer>

 

</configuration>
